<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <%= link_to book_path(book) do%>
        <%= image_tag "adwr4.jpg", class:"img-responsive" %>
        <% end%>
        <div class="caption">
           
            <p><%= link_to book_path(book) do%><strong><%= book.name %></strong> <%end%></p>
            
            <p>$<%= book.price.to_f/100 %></p>
        </div>
    </a>
  </div>